# As required by the base postgres container setup
POSTGRES_DB="asset_docs"
POSTGRES_USER="asset_docs"
POSTGRES_PASSWORD="asset_docs_password"
# envsubst replacements
ADDB_DB_NAME="asset_docs"
ADDB_SCHEMA="asset_docs"
ADDB_OWNER_USER="asset_docs_owner"
ADDB_PASSWORD="asset_docs_owner_password"
ADDB_POSTGREST_USER="asset_docs_postgrest_user"
ADDB_POSTGREST_USER_PASSWORD="asset_docs_postgrest_user_password"
ADDB_READ_USER="asset_docs_read_user"
ADDB_READ_USER_PASSWORD="asset_docs_read_user_password"
ADDB_RW_USER="asset_docs_rw_user"
ADDB_RW_USER_PASSWORD="asset_docs_rw_user_password"
# Not database credentials, but a role string that grants 'superadmin' privs to
# all asset docs database entities
ADDB_SUPERADMIN_ENTITLEMENT="asset_docs_superadmin_user"
# JWT auth configuration
ADDB_PGRST_JWT_REQUIRED_AUDIENCE="D2yd...pF7G"
# curl --silent "https://ego.srv.axds.co/application/o/asset-docs/jwks/" | jq -Rsa .
ADDB_PGRST_JWT_SECRET="..."

# Used during testing
# ACCESS_TOKEN='...'
# ASSET_DOCS_POSTGREST_URL='...'