CREATE TABLE IF NOT EXISTS ${ADDB_SCHEMA}.fields_override_config_to_form (
    "uuid" uuid PRIMARY KEY NOT NULL DEFAULT uuid_generate_v4(),
    "owner_sub" VARCHAR(64) NOT NULL,
    "form_uuid" uuid REFERENCES ${ADDB_SCHEMA}.form(uuid) ON DELETE CASCADE,
    "fields_override_config_uuid" uuid REFERENCES ${ADDB_SCHEMA}.fields_override_config(uuid) ON DELETE CASCADE,
    "weight" int NOT NULL DEFAULT 0,
    "created_at" timestamptz NOT NULL DEFAULT now(),
    "updated_at" timestamptz NOT NULL DEFAULT now()
);

DROP POLICY IF EXISTS fields_override_config_to_form_policy_select ON ${ADDB_SCHEMA}.fields_override_config_to_form;
CREATE POLICY fields_override_config_to_form_policy_select ON ${ADDB_SCHEMA}.fields_override_config_to_form
FOR SELECT
--  All field override configs to form publicly SELECTable
USING ( true );

DROP POLICY IF EXISTS fields_override_config_to_form_policy_insert ON ${ADDB_SCHEMA}.fields_override_config_to_form;
CREATE POLICY fields_override_config_to_form_policy_insert ON ${ADDB_SCHEMA}.fields_override_config_to_form
FOR INSERT
--  field override configs to form INSERTable when user has claims and is superadmin
WITH CHECK (
    (
        current_setting('request.jwt.claims', true) IS NOT NULL AND
        current_setting('request.jwt.claims', true)::json->>'sub' IS NOT NULL AND
        public.jsonb_array_to_text_array( current_setting('request.jwt.claims', true)::jsonb->'roles' ) @> array['${ADDB_SUPERADMIN_ENTITLEMENT}']
    )
);

DROP POLICY IF EXISTS fields_override_config_to_form_policy_update ON ${ADDB_SCHEMA}.fields_override_config_to_form;
CREATE POLICY fields_override_config_to_form_policy_update ON ${ADDB_SCHEMA}.fields_override_config_to_form
FOR UPDATE
--  field override configs to form UPDATEable when user has claims and is superadmin
USING (
    (
        current_setting('request.jwt.claims', true) IS NOT NULL AND
        current_setting('request.jwt.claims', true)::json->>'sub' IS NOT NULL AND
        public.jsonb_array_to_text_array( current_setting('request.jwt.claims', true)::jsonb->'roles' ) @> array['${ADDB_SUPERADMIN_ENTITLEMENT}']
    )
)
-- update policy requires both USING *and* WITH_CHECK, as the USING
-- decides which rows are updateable in the first place, and the
-- WITH_CHECK determines if the new updates fit with the policy (after
-- being approved by the USING expression)
WITH CHECK (
    (
        current_setting('request.jwt.claims', true) IS NOT NULL AND
        current_setting('request.jwt.claims', true)::json->>'sub' IS NOT NULL AND
        public.jsonb_array_to_text_array( current_setting('request.jwt.claims', true)::jsonb->'roles' ) @> array['${ADDB_SUPERADMIN_ENTITLEMENT}']
    )
);

DROP POLICY IF EXISTS fields_override_config_to_form_policy_delete ON ${ADDB_SCHEMA}.fields_override_config_to_form;
CREATE POLICY fields_override_config_to_form_policy_delete ON ${ADDB_SCHEMA}.fields_override_config_to_form
FOR DELETE
--  field override configs to form DELETEable claim sub matches owner or superuser
USING (
    (
        current_setting('request.jwt.claims', true) IS NOT NULL AND
        (
            owner_sub IS NOT NULL AND
            owner_sub = current_setting('request.jwt.claims', true)::json->>'sub'

        ) OR
        -- User is marked as superadmin
        (
            public.jsonb_array_to_text_array( current_setting('request.jwt.claims', true)::jsonb->'roles' ) @> array['${ADDB_SUPERADMIN_ENTITLEMENT}']
        )
    )
);

CREATE OR REPLACE FUNCTION ${ADDB_SCHEMA}_fields_override_config_to_form_update_trigger() RETURNS TRIGGER AS $$
BEGIN
    -- Maintain updated_at/created_at
    NEW.updated_at = now();
    IF OLD.created_at IS NOT NULL THEN
    NEW.created_at = OLD.created_at;
    END IF;
    -- Set owner_sub to the current sub if not already set, but don't override if it was already set.
    IF current_setting('request.jwt.claims', true) IS NOT NULL THEN
        IF OLD.owner_sub IS NOT NULL THEN
            -- Don't update original if it was originally set.
            NEW.owner_sub = OLD.owner_sub;
        ELSE
            --Otherwise, owner will be the current sub
            NEW.owner_sub := current_setting('request.jwt.claims', true)::json->>'sub';
        END IF;
    END IF;
    RETURN NEW;
END;
$$ LANGUAGE plpgsql;

CREATE OR REPLACE TRIGGER trg_${ADDB_SCHEMA}_fields_override_config_to_form_update_trigger
BEFORE INSERT OR UPDATE ON ${ADDB_SCHEMA}.fields_override_config_to_form
FOR EACH ROW
EXECUTE FUNCTION ${ADDB_SCHEMA}_fields_override_config_to_form_update_trigger();