CREATE TABLE IF NOT EXISTS ${ADDB_SCHEMA}.relationship (
    "uuid" uuid PRIMARY KEY NOT NULL DEFAULT uuid_generate_v4(),
    "from_document_uuid" uuid REFERENCES ${ADDB_SCHEMA}.document(uuid) NOT NULL,
    "to_document_uuid" uuid REFERENCES ${ADDB_SCHEMA}.document(uuid) NOT NULL,
    "predicate_uuid" uuid REFERENCES ${ADDB_SCHEMA}.predicate(uuid) NOT NULL,
    "data" jsonb,
    UNIQUE("from_document_uuid", "to_document_uuid", "predicate_uuid")
);

ALTER TABLE ${ADDB_SCHEMA}.relationship ENABLE ROW LEVEL SECURITY;

-- TODO: Revisit policy to be determined by related document permission, not by
-- superadmin roles (as normal users will need document relationships)


DROP POLICY IF EXISTS relationship_policy_select ON ${ADDB_SCHEMA}.relationship;
CREATE POLICY relationship_policy_select ON ${ADDB_SCHEMA}.relationship
FOR SELECT
-- Relationships SELECTable when both documents are published, or user can
-- modify one of the documents
USING (
    (
        EXISTS ( SELECT 1 FROM ${ADDB_SCHEMA}.document df WHERE df.uuid = "from_document_uuid" and df.published IS TRUE )
        AND
        EXISTS ( SELECT 1 FROM ${ADDB_SCHEMA}.document dt WHERE dt.uuid = "to_document_uuid" and dt.published IS TRUE )
    )
    OR
    (
      ${ADDB_SCHEMA}.can_modify_document_by_uuid( "from_document_uuid" )
      OR
      ${ADDB_SCHEMA}.can_modify_document_by_uuid( "to_document_uuid" )
    )
 );

DROP POLICY IF EXISTS relationship_policy_insert ON ${ADDB_SCHEMA}.relationship;
CREATE POLICY relationship_policy_insert ON ${ADDB_SCHEMA}.relationship
FOR INSERT
--  relationships INSERTable when user has claims and is superadmin
WITH CHECK (
    (
        current_setting('request.jwt.claims', true) IS NOT NULL AND
        current_setting('request.jwt.claims', true)::json->>'sub' IS NOT NULL AND
        (
            (
                ${ADDB_SCHEMA}.can_modify_document_by_uuid( "from_document_uuid" )
                AND
                ${ADDB_SCHEMA}.can_modify_document_by_uuid( "to_document_uuid" )
            )
            OR
            public.jsonb_array_to_text_array( current_setting('request.jwt.claims', true)::jsonb->'roles' ) @> array['${ADDB_SUPERADMIN_ENTITLEMENT}']
        )
    )
);

DROP POLICY IF EXISTS relationship_policy_update ON ${ADDB_SCHEMA}.relationship;
CREATE POLICY relationship_policy_update ON ${ADDB_SCHEMA}.relationship
FOR UPDATE
--  relationships UPDATEable when user has claims and is superadmin
USING (
    (
        current_setting('request.jwt.claims', true) IS NOT NULL AND
        current_setting('request.jwt.claims', true)::json->>'sub' IS NOT NULL AND
        (
            (
                ${ADDB_SCHEMA}.can_modify_document_by_uuid( "from_document_uuid" )
                AND
                ${ADDB_SCHEMA}.can_modify_document_by_uuid( "to_document_uuid" )
            )
            OR
            public.jsonb_array_to_text_array( current_setting('request.jwt.claims', true)::jsonb->'roles' ) @> array['${ADDB_SUPERADMIN_ENTITLEMENT}']
        )
    )
)
-- update policy requires both USING *and* WITH_CHECK, as the USING
-- decides which rows are updateable in the first place, and the
-- WITH_CHECK determines if the new updates fit with the policy (after
-- being approved by the USING expression)
WITH CHECK (
    (
        current_setting('request.jwt.claims', true) IS NOT NULL AND
        current_setting('request.jwt.claims', true)::json->>'sub' IS NOT NULL AND
        (
            (
                ${ADDB_SCHEMA}.can_modify_document_by_uuid( "from_document_uuid" )
                AND
                ${ADDB_SCHEMA}.can_modify_document_by_uuid( "to_document_uuid" )
            )
            OR
            public.jsonb_array_to_text_array( current_setting('request.jwt.claims', true)::jsonb->'roles' ) @> array['${ADDB_SUPERADMIN_ENTITLEMENT}']
        )
    )
);

DROP POLICY IF EXISTS relationship_policy_delete ON ${ADDB_SCHEMA}.relationship;
CREATE POLICY relationship_policy_delete ON ${ADDB_SCHEMA}.relationship
FOR DELETE
--  relationships DELETEable only by superadmins
USING (
    (
        current_setting('request.jwt.claims', true) IS NOT NULL AND
        (
            (
                ${ADDB_SCHEMA}.can_modify_document_by_uuid( "from_document_uuid" )
                AND
                ${ADDB_SCHEMA}.can_modify_document_by_uuid( "to_document_uuid" )
            )
            OR
            public.jsonb_array_to_text_array( current_setting('request.jwt.claims', true)::jsonb->'roles' ) @> array['${ADDB_SUPERADMIN_ENTITLEMENT}']
        )
    )
);


CREATE OR REPLACE FUNCTION ${ADDB_SCHEMA}.relationship_insert_update_trigger() RETURNS TRIGGER AS $$
BEGIN
    -- Ensure that any relationship isn't already represented by an inverse of
    -- the same type (we don't want a->has_parent->b when we've already got
    -- b->has_parent-a)

    IF EXISTS (
        SELECT
            1
        FROM
            ${ADDB_SCHEMA}.relationship r
        INNER JOIN
            ${ADDB_SCHEMA}.predicate p
        ON
            r.predicate_uuid = p.uuid
        WHERE
            -- a different relationship
            r.uuid != NEW.uuid AND
            -- that is marked as directional
            p.is_directional is TRUE AND
            -- and has the from/to documents reversed
            r.from_document_uuid = NEW.to_document_uuid AND
            r.to_document_uuid = NEW.from_document_uuid
    ) THEN
        RAISE sqlstate 'PGRST' USING
            message = json_build_object(
                -- 'code' must be present, and also a string
                'code', 'PT400',
                'message', 'relationship_uniqueness_violation',
                'details', 'directed relationship already inversely represented'
            ),
            detail = json_build_object(
                -- 'status' must be present, and a number
                'status', 400,
                -- 'header' must also be present, and an empty object
                'headers', '{}'::json
            );

    END IF;

    RETURN NEW;
END;
$$ LANGUAGE plpgsql;


CREATE OR REPLACE TRIGGER trg_${ADDB_SCHEMA}_relationship_update_trigger
BEFORE INSERT OR UPDATE ON ${ADDB_SCHEMA}.relationship
FOR EACH ROW
EXECUTE FUNCTION ${ADDB_SCHEMA}.relationship_insert_update_trigger();
