CREATE TABLE IF NOT EXISTS ${ADDB_SCHEMA}.predicate (
    "uuid" uuid PRIMARY KEY NOT NULL DEFAULT uuid_generate_v4(),
    "predicate" VARCHAR(200) NOT NULL UNIQUE,
    "label" VARCHAR(200) NOT NULL,
    "inverse_predicate" VARCHAR(200) NULL UNIQUE,
    "inverse_label" VARCHAR(200) NULL,
    "is_directional" BOOLEAN NOT NULL DEFAULT TRUE
);

ALTER TABLE ${ADDB_SCHEMA}.predicate ENABLE ROW LEVEL SECURITY;

DROP POLICY IF EXISTS predicate_policy_select ON ${ADDB_SCHEMA}.predicate;
CREATE POLICY predicate_policy_select ON ${ADDB_SCHEMA}.predicate
FOR SELECT
--  All object types publicly SELECTable
USING ( true );

DROP POLICY IF EXISTS predicate_policy_insert ON ${ADDB_SCHEMA}.predicate;
CREATE POLICY predicate_policy_insert ON ${ADDB_SCHEMA}.predicate
FOR INSERT
--  predicates INSERTable when user has claims and is superadmin
WITH CHECK (
    (
        current_setting('request.jwt.claims', true) IS NOT NULL AND
        current_setting('request.jwt.claims', true)::json->>'sub' IS NOT NULL AND
        public.jsonb_array_to_text_array( current_setting('request.jwt.claims', true)::jsonb->'roles' ) @> array['${ADDB_SUPERADMIN_ENTITLEMENT}']
    )
);

DROP POLICY IF EXISTS predicate_policy_update ON ${ADDB_SCHEMA}.predicate;
CREATE POLICY predicate_policy_update ON ${ADDB_SCHEMA}.predicate
FOR UPDATE
--  predicates UPDATEable when user has claims and is superadmin
USING (
    (
        current_setting('request.jwt.claims', true) IS NOT NULL AND
        current_setting('request.jwt.claims', true)::json->>'sub' IS NOT NULL AND
        public.jsonb_array_to_text_array( current_setting('request.jwt.claims', true)::jsonb->'roles' ) @> array['${ADDB_SUPERADMIN_ENTITLEMENT}']
    )
)
-- update policy requires both USING *and* WITH_CHECK, as the USING
-- decides which rows are updateable in the first place, and the
-- WITH_CHECK determines if the new updates fit with the policy (after
-- being approved by the USING expression)
WITH CHECK (
    (
        current_setting('request.jwt.claims', true) IS NOT NULL AND
        current_setting('request.jwt.claims', true)::json->>'sub' IS NOT NULL AND
        public.jsonb_array_to_text_array( current_setting('request.jwt.claims', true)::jsonb->'roles' ) @> array['${ADDB_SUPERADMIN_ENTITLEMENT}']
    )
);

DROP POLICY IF EXISTS predicate_policy_delete ON ${ADDB_SCHEMA}.predicate;
CREATE POLICY predicate_policy_delete ON ${ADDB_SCHEMA}.predicate
FOR DELETE
--  predicates DELETEable only by superadmins
USING (
    (
        current_setting('request.jwt.claims', true) IS NOT NULL AND
        -- User is marked as superadmin
        (
            public.jsonb_array_to_text_array( current_setting('request.jwt.claims', true)::jsonb->'roles' ) @> array['${ADDB_SUPERADMIN_ENTITLEMENT}']
        )
    )
);


CREATE OR REPLACE FUNCTION ${ADDB_SCHEMA}.predicate_insert_update_trigger() RETURNS TRIGGER AS $$
BEGIN
    -- Ensure that the predicates being used are sufficiently unique between
    -- both the predicate and inverse_predicate.

    IF EXISTS (
        SELECT
            p.*
        FROM ${ADDB_SCHEMA}.predicate p
        WHERE
            p.uuid != NEW.uuid AND
            (
                -- somebody else has this primary predicate
                p.predicate = NEW.predicate
                OR
                -- somebody else has this primary predicate as an inverse predicate
                p.inverse_predicate = NEW.predicate
                OR
                -- somebody else has this inverse predicate as a primary predicate
                (
                    NEW.inverse_predicate IS NOT NULL AND
                    p.predicate = NEW.inverse_predicate
                )
                OR
                -- someboday else has this inverse predicate as an inverse predicate
                (
                    NEW.inverse_predicate IS NOT NULL AND
                    p.inverse_predicate IS NOT NULL AND
                    p.inverse_predicate = NEW.inverse_predicate
                )
            )
    ) THEN
        RAISE sqlstate 'PGRST' USING
            message = json_build_object(
                -- 'code' must be present, and also a string
                'code', 'PT400',
                'message', 'predicate_uniqueness_violation',
                'details', 'predicate or inverse_predicate is not unique'
            ),
            detail = json_build_object(
                -- 'status' must be present, and a number
                'status', 400,
                -- 'header' must also be present, and an empty object
                'headers', '{}'::json
            );

    END IF;

    RETURN NEW;
END;
$$ LANGUAGE plpgsql;


CREATE OR REPLACE TRIGGER trg_${ADDB_SCHEMA}_predicate_insert_update_trigger
BEFORE INSERT OR UPDATE ON ${ADDB_SCHEMA}.predicate
FOR EACH ROW
EXECUTE FUNCTION ${ADDB_SCHEMA}.predicate_insert_update_trigger();


INSERT INTO ${ADDB_SCHEMA}.predicate (predicate, label, inverse_predicate, inverse_label, is_directional) VALUES
  ('has_parent', 'has parent', 'has_child', 'has child', true),
  ('is_related_to', 'is related to', NULL, NULL, false)
ON CONFLICT DO NOTHING;