
# adding nanoid function, electing to install the function at public.nanoid(...)
PGOPTIONS=--search_path=public psql --username "$POSTGRES_USER" "${ADDB_DB_NAME}" < /docker-entrypoint-initdb.d/99_nanoid.source